@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'Montserrat2';
    src: url(Montserrat/Montserrat-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Montserrat3';
    src: url(Montserrat/Montserrat-ExtraBold.ttf) format(truetype);
}


* {
    box-sizing: initial;
    margin: 0;
}


body {
    line-height: 1.5rem;
    background-color: #DAE2B6;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

#header.logo {
    max-width: 100%;
}

.logo-icon img {
    padding-top: 10;
}

.container ul li {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat2';
    font-size: small;
}

.klantenservice a {
    position: absolute;
    right: 100px;
    top: 7;
}


@media (max-width: 1125px) {

    .container ul li {
        display: none;
    }

}

.container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;

}

.container li {
    padding-left: 20;
    padding-right: 20;
    padding-top: 8;
    padding-bottom: 8;
}

.usps-bar {
    background-color: #CCD6A6;
}

i.fa-solid.fa-cart-shopping {
    position: absolute;
    display: flex;
    right: 225;
    bottom: 4;
}

i.fa-solid.fa-cart-shopping::after {
    position: absolute;
    bottom: -7;
    width: 0;
    transition: 0.3s;
}

i.fa-solid.fa-cart-shopping:hover::after {
    width: 40;
}

i.fa-solid.fa-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 100;
}

i.fa-solid.fa-user::after {
    position: absolute;
    bottom: -6;
    width: 0;
    transition: 0.3s;
}

i.fa-solid.fa-user:hover::after {
    width: 74;
}

i.fa-solid.fa-user p {
    font-family: 'Montserrat2';
}

.menu a i:after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #abb77b;
    height: 3px;
    width: 0;
    transition: 0.3s;
}

.menu a i:hover::after {
    width: 57;
}

.menu ul li:nth-child(2) a i::after {
    width: 0;
    transition: 0.3s;
}

.menu ul li:nth-child(2) a i:hover::after {
    width: 115;
}

.menu ul li:nth-child(3) a i::after {
    width: 0;
    transition: 0.3s;
}

.menu ul li:nth-child(3) a i:hover::after {
    width: 74;
}

.header-nav {
    background-color: #DAE2B6;
}

a:link {
    text-decoration: none;
}

.container a {
    color: white;
}

.logo-icon {
    padding-left: 115;
    padding-top: 10;
    flex-direction: row;
    position: relative;
    bottom: 50;
    right: 30;
    width: 200px;
}

.container-logobar ul li {
    color: black;
    list-style-type: none;
}

.container-logobar ul {
    padding-left: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600;
}

.row2 {
    display: flex;
    justify-content: flex-end;
    width: auto;
    position: relative;
    top: 25;
    padding-right: 100;
    font-size: 18;
}


.textmenu {
    font-style: normal;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
}

.vink {
    font-style: normal;
    color: rgb(137, 205, 35);
}

.klok {
    font-style: normal;
}

.row2 .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460;
    padding-left: 0;
}

.menu img {
    position: relative;
    left: 100;
    bottom: 10;
}



footer {
    display: flex;
    justify-content: center;
    background-color: #CCD6A6;
    padding-bottom: 50;
    margin-top: auto;
    width: auto;
}

ul#footer-submenu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

.h3-hidden {
    padding-top: 17;
    padding-left: 0px;
    border-bottom: solid rgb(243, 254, 217);
    font-family: 'Montserrat3';
    color: rgb(255, 255, 255);
}

ul li::marker {
    list-style-type: none;


}

.links .row {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    border-bottom: solid #e7edc4 2px;
    padding-bottom: 50;
    width: 500;
}

a#footerlink1.costum-page-link {
    color: white;
}

a#footerlink2.costum-page-link {
    color: white;
}

a#footerlink3.costum-page-link {
    color: white;
}

a#footerlink4.costum-page-link {
    color: white;
}



.bottomlinks {
    position: absolute;
    padding-top: 195;
    font-size: 10px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.bottomlinks p {
    padding-left: 60;
}

.container-logobar {
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #CCD6A6;
    padding: 16px;
    padding-bottom: 0px;
}

.hamburger {
    display: block;
    position: relative;
    top: 10;
    left: 70;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: white;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;


}

.hamburger:hover span:nth-child(2) {
    transform: translateX(0px);
    background-color: #ffffff;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: #95a068;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 80;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #95a068;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #79815a;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat2';
}

.mobile-nav a:hover {
    background-color: #9faa71;
}

@media(max-width: 1125px) {
    .logo-icon img {
        height: 40px;
        padding-top: 33;
    }

}

@media(min-width: 1125px) {
    .mobile-nav {
        display: none;
    }

}

.menu {
    display: none;
}

@media (min-width: 1125px) {

    .hamburger {
        display: none;
    }

    .menu {
        display: block;
    }

    .header-nav {
        display: block;
    }


}

.header-nav {
    display: none;
}

.doos {
    padding-top: 100;
    position: relative;
    left: 18;
}

.center-background {
    padding-bottom: 100;
}

.stappenplan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 40;
    padding-top: 40;
    justify-content: space-evenly;
}

.home-wrapper h2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Montserrat2';
}

.home-wrapper p {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Montserrat';
    padding-top: 20;
}

.stap1 img {
    padding-left: 25;
}


.stap1 h3 {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
}

.stap1 p {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
    text-align: center;
}



.stap2 h3 {
    display: flex;
    justify-content: center;
    padding-top: 15.5;
    color: #ffffff;
    font-family: 'Montserrat2';
}

.stap2 p {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
    text-align: center;
}

.stap3 img {
    padding-left: 25;
}

.stap3 h3 {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
}

.stap3 p {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
    text-align: center;
}

.stap4 img {
    padding-left: 25;
}

.stap4 h3 {
    display: flex;
    justify-content: center;
    padding-top: 15.5;
    color: #ffffff;
    font-family: 'Montserrat2';
}

.stap4 p {
    display: flex;
    justify-content: center;
    padding-top: 20;
    color: #ffffff;
    font-family: 'Montserrat2';
    text-align: center;
}

.body-slider {
    margin: 0;
    padding: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 850px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}

.slides {
    width: 600%;
    height: 550px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 900px;
    height: 600px;
}

/*css for manual slides*/

.navigation-manual {
    position: absolute;
    width: 850px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #ffffff;
}

#radio1:checked~.first {
    margin-left: 0;

}

#radio2:checked~.first {
    margin-left: -20%;

}

#radio3:checked~.first {
    margin-left: -40%;

}

#radio4:checked~.first {
    margin-left: -60%;

}

.banner-uniek-boeket{
    display: flex;
    justify-content:center;
    padding-top: 100;
    padding-right: 400;
}

.banner-uniek-boeket .uniek-text {
    max-width: 500;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat';
    height: 400;
    
}


.banner-uniek-boeket .uniek-text a {
    text-decoration: underline;
    color: #ffffff;
}

.banner-uniek-boeket img{
    position: relative;
    bottom: 280;
    right: 200;
    z-index: -1;
}



.banner-uniek-boeket2{
    display: flex;
    justify-content:center;
    padding-bottom: 40;
    padding-left: 400;
}

.banner-uniek-boeket2 .uniek-text2 {
    max-width: 500;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: small;
    height: 400;
    
}




.banner-uniek-boeket2 img{
    position: relative;
    bottom: 300;
    right: 400;
    z-index: -1;
    width: 500;
}

.Welkom {
    padding-top: 120;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    color: #ffffff;
}

@media(max-width: 1227px){
    .body-slider{
        margin: 0;
        padding: 0;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider {
        width: 700px;
        height: 400px;
    }
    .slides {
        width: 500%;
        height: 400px;
    }

    .slide img {
        width: 750px;
        height: 500px;
    }

    .navigation-manual {
        width: 700px;
    }

    .banner-uniek-boeket{
        padding-right: 350;
    }

    .banner-uniek-boeket .uniek-text{
        font-size: small;
        max-width: 400;
    
    }

    .banner-uniek-boeket img {
        width: 900;
        bottom: 255;
    }

    .banner-uniek-boeket2{

    }

    .banner-uniek-boeket2 .uniek-text2{
        max-width: 400;
        font-size: x-small;
    }

    .banner-uniek-boeket2 img{
        bottom: 310;
        width: 500;

    }

    .stappenplan{
        flex-direction: column;
    }

    .stappenplan .stap1 img{
        padding-left: 300;

    }

    .stappenplan .stap2 img{
        padding-left: 300;

    }

    .stappenplan .stap3 img{
        padding-left: 300;

    }

    .stappenplan .stap4 img{
        padding-left: 300;

    }
}